


<div class="logo-box">

	<h1>Resource Root</h1>
	<span class="glyphicon glyphicon-minus minimize" id="hide-left-nav"></span>

</div>

<div id="site-nav">

	<ul>

		<li id="home-btn"><span class="glyphicon glyphicon-home"></span></li>
		<li id="sign-out-btn"><span class="glyphicon glyphicon-off"></span></li>

	</ul>

</div>