
<li data-section-id="<%= section.get("id") %>" class="tbl-contents-link">

  <%= section.get("title") %>

</li>

<% if (section.getNextSection()) { %>

  <% var contentsItem = new App.Views.TableOfContentsItem({ model: section.getNextSection() }) %>

  <%= contentsItem.render().$el.html() %>

<% } %>