
<div id="table-of-contents">

  <h3>Table of Contents</h3>

  <ul class="height-el">
    <% var contentsItem = new App.Views.TableOfContentsItem({ model: resource.firstSection() }) %>
    <%= contentsItem.render().$el.html() %>
  </ul>

</div>