<section class="landing-page">


  <section class="landing-info">
    <h1> Welcome to Resource Root, a place for ever growing knowledge </h1>
    <h3> Sign In on the right, or give us a try first by clicking below </h3>
    <button class="btn-green" id="demo-btn">Click Here For a Demo</button>
  </section>


</section>
<div class="form-wrapper">

  <div class="form-box">

    <h1 class="form-title">Sign In</h1>

    <form action="<%= session_url %>" method="post" id="sign-in-form">

      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">

          <input
             id="user_username"
             name="user[username]"
             type="text"
             placeholder="Enter Username"
          >

          <input
             id="user_password"
             name="user[password]"
             type="password"
             placeholder="Enter Password"
          >

      <input type="submit" value="Sign In">

    </form>

  </div>

  <p> Don't have an account yet? <%=  link_to "Sign Up", new_user_url %></p>

</div>

<script>
  $("#demo-btn").click(function () {
    $('#user_username').val("Demo");
    $("#user_password").val("password");
    $("#sign-in-form").submit();
  });
</script>










