  
<div class="form">

  <h1 class="form-title">Sign In</h1>

  <form action="<%= session_url %>" method="post">

    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

        <input
           id="user_username"
           name="user[username]"
           type="text"
           placeholder="Enter Username"
        >

        <input
           id="user_password"
           name="user[password]"
           type="password"
           placeholder="Enter Password"
        >

    <input type="submit" value="Sign In">

  </form>

</div>

<p> Don't have an account yet? <%=  link_to "Sign Up", new_user_url %></p>