
<% var answerCount = answers.models.length %>
<% 
if (answerCount === 1) {
	var answers = "Answer";
} else {
	var answers = "Answers";
}
%>
<% if (answerCount) { %>
	<h3> <%= answerCount + " " + answers %> </h3>
	<ul class="answers">

	</ul>
<% } %>
<%= new App.Views.AnswerForm().render().$el.html() %>