
<ul class="answers">
<% _.each(answers.models, function (answer) { %>
  <div class="group">
  	<li class="response-body answer"> <%= answer.get("body") %> </li>
    <p class="add-comment"> add comment </p>
  </div>

<% }); %>
</ul>

<%= new App.Views.AnswerForm().render().$el.html() %>