
<ul class="answers">
<% _.each(answers.models, function (answer) { %>

	<li class="response-body"> <%= answer.get("body") %> </li>

<% }); %>
</ul>

<%= new App.Views.AnswerForm().render().$el.html() %>