

<div class="response-all">
  <div class="response-wrapper">
    <li class="answer response" data-answer-id="<%= answer.get('id') %>"> <%= answer.get("body") %> </li>
    <p class="add-comment"> add comment </p>
  </div>
  <div class="comments-wrapper">

  </div>
</div>
