


<div class="post-wrapper">

	<div class="votes-wrapper">

	</div>


  <div class="post-body">
    <li class="answer post-text"> <%= answer.get("body") %> </li>
    <p class="add-comment"> add comment </p>
  
    <div class="comments-wrapper">

  	</div>
  </div>
  
</div>
