


  <h2 class="popover-header">With Selected Text...</h2>
  <ul class="popover-buttons">
    <li><button id="highlight-text" class="btn-yellow">Highlight</button></li>
    <li><button id="errorize-text" class="btn-red">Mark As Error</button></li>
    <li><button id="confusingize-text" class="btn-purple">Mark As Confusing</button></li>
    <li><button id="create-note-with-text" class="btn-gray">Create Note With</button></li>
    <li><button id="ask-question-on-text" class="btn-green">Ask Question On</button></li>
    <li><button id="post-discussion-on-text" class="btn-blue">Post Discussion On</button></li>
  </ul>
