


  <h2 class="popover-header">With Selected Text...</h2>
  <ul class="popover-buttons">
    <li><button id="highlight-text" class="btn yellow">Highlight</button></li>
    <li><button id="error-text" class="btn red">Mark As Error</button></li>
    <li><button id="confusing-text" class="btn purple">Mark As Confusing</button></li>
    <li><button id="add-note-with-text" class="btn gray">Add Note</button></li>
    <li><button id="ask-question-with-text" class="btn green">Ask Question</button></li>
    <li><button id="post-discussion-with-text" class="btn">Create Discussion</button></li>
  </ul>
