<form class="comment-form blue-form">

  <label>
  	<textarea name="comment[body]" placeholder=" Write Your Comment"></textarea>
  </label>

  <button class="btn small" id="submit-comment">Add</button>

</form>