
<ul class="comments">
<% _.each(comments.models, function (comment) { %>

  <li class="comment"><%= comment.escape("body") %></li>

<% }) %>


<% if (form) { %>
  <li><%= new App.Views.CommentForm().render().$el.html() %></li>
<% } %>

</ul>
