
<ul class="comments">
<% _.each(comments.models, function (comment) { %>

  <li class="comment"><%= comment.escape("body") %></li>

<% }) %>
</ul>

<% if (form) { %>
  <%= new App.Views.CommentForm().render().$el.html() %>
<% } %>