
<h3> <%= responses.models.length %> Responses </h3>
<ul class="responses">
<% _.each(responses.models, function (response) { %>

  <li class="response"><%= response.escape("body") %></li>
  <p class="add-comment"> add comment </p>

<% }) %>
</ul>

<form class="modal-form blue-form">

  <label>Your Response
  	<textarea name="comment[body]"></textarea>
  </label>

  <button id="submit-response">Post Your Response</button>

</form>
