

<section class="landing-page">


	<section class="landing-info">
		<h1> Welcome to Resource Root, a place for ever growing knowledge </h1>
	</section>


	<%= render "form", :user => @user %>
	

</section>