<script>
$(document).ready(function(){
    App.initialize();
});
</script>


<div id="content">

	<nav id="left-nav">

	</nav>
	 	
	<div id="resource-content">

	</div>

	<div id="social-content">

	</div>

</div>

<div id="home">

</div>