<form class="modal-form blue-form">

  <label>What is your opinion?
  	<textarea name="response[body]"></textarea>
  </label>

  <button class="btn-blue" id="submit-response">Post Your Response</button>

</form>