

<%
var color;
if ( response.votes.get("vote_score") > 0 ) {
	color = "faded-green";
} else {
	color = "faded-red"
}
%>




<div class="post-wrapper">
	

	<div class="votes-wrapper">

	</div>

  <div class="post-body">
    <li class="response post-text"> <%= response.escape("body") %> </li>
    <p class="add-comment"> add comment </p>
  
	  <div class="comments-wrapper">

	  </div>
  </div>
</div>