


<section class="notes">

  

  <ul>
  <% var noteCount = 0 %>
  <% _.each(notes.models, function (note) { %>
    <% noteCount++ %>
    <li class="note social-list-item" data-note-id="<%= note.get('id') %>"><span class="noteCount"><%= noteCount %>: </span><%= note.get("body") %></li>
  <% }) %>
  </ul>

  <button class="btn-blue add-btn"> Add Note </button>

</section>