


<section class="notes">

  <% var noteForm = new App.Views.NoteForm() %>
  <%= noteForm.render().$el.html() %>

  <% var noteCount = 0 %>
  <% _.each(notes.models, function (note) { %>
    <% noteCount++ %>
    <p class="note"><span class="noteCount"><%= noteCount %>: </span><%= note.get("body") %></p>
  <% }) %>

</section>