


<section class="notes">

  <% var noteForm = new App.Views.NoteForm() %>
  <%= noteForm.render().$el.html() %>

  <% _.each(notes.models, function (note) { %>

    <p><%= note.get("body") %></p>

  <% }) %>


</section>