<section class="note-modal-form large reveal-modal">

	<a class="close-reveal-modal">&#215</a>

  <form>
    <h1> Add Note </h1>

    <label> Source Text
      <textarea name="note[section_text]" > <%= selectionText %></textarea>
    </label>

    <label> Note Text
      <textarea name="note[body]"></textarea>
    </label>

    <div class="group">

        <input type="checkbox" name="note[private]" id="private-check" checked>
        <label class="check-label" for="private-check">
        Private?
      </label>
    </div>

    <button class="submit-note">Save</button>

  </form>

</section>