<section class="question-modal-form large reveal-modal">

  <form>
    <h1> Ask Question </h1>

    <label> Source Text
      <% if ( question.escape("section_text") ) { %>
        <p class="section-text"><%= question.escape("section_text") %></p>
      <% } else { %>
        <p class="section-text">None. To add a question with source text, create the question using the highlighting tool.</p>
      <% } %>    
    </label>

    <label> Question Title
      <input type="text" name="question[title]" placeholder=" The brief version of your question."></input>
    </label>

    <label> Additional Information
      <textarea name="question[body]" placeholder=" A more detailed explaination of your problem and what you would like to know."></textarea>
    </label>

    <button class="submit-question">Ask</button>

  </form>

</section>