


<section class="question-modal xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h3> 0 Answers </h1>
	<h1> <%= question.get("title") %> </h1>

	<p> <%= question.get("body") %> </p>

</section>