

<%
if (hidden) {
	var style = "display:none";
} else {
	var style = "";
}
%>


<section class="questions" style="<%= style %>">

  <% var questionForm = new App.Views.QuestionForm() %>
  <%= questionForm.render().$el.html() %>
  <h3> Questions on <%= App.CurrentState.resource.get("title") %> </h3>

  <ul class="social-list">
  
  </ul>

</section>