

<%
if (hidden) {
	var style = "display:none";
} else {
	var style = "";
}
%>


<section class="questions" style="<%= style %>">

  <ul class="social-list">
  
  </ul>

  <button class="btn-green add-btn" id="question-btn"> Ask Question </button>

</section>