

<% 
	if (hidden) {
		var style = "display:none";
	} else {
		var style = "";
	} 
%>


<section class="questions" style="<%= style %>">

  <% var questionForm = new App.Views.QuestionForm() %>
  <%= questionForm.render().$el.html() %>
  <h3> Questions for <%= App.CurrentState.resource.get("title") %> </h3>

  <ul>
  <% _.each(questions.models, function (q) { %>
    <li><%= new App.Views.QuestionShow({model: q}).render().$el.html() %></li>
  <% }) %>
  </ul>

</section>