<section class="question-modal-form large reveal-modal">

	<a class="close-reveal-modal">&#215</a>

  <form>
    <h1> Ask Question </h1>

    <label>Source Text<textarea name="question[section_text]" > <%= selectionText %></textarea></label>

    <label> Question Title
      <input type="text" name="question[title]" placeholder=" The brief version of your question."></input>
    </label>

    <label> Additional Information
      <textarea name="question[body]" placeholder=" A more detailed explaination of your problem and what you would like to know."></textarea>
    </label>

    <button class="submit-question">Ask</button>

  </form>

</section>