<section class="question-modal-form large reveal-modal">

	<a class="close-reveal-modal">&#215</a>

  <form class="edit-question-form">
    <h1> Ask Question </h1>

    <label> Source Text
      <textarea name="question[section_text]" > <%= selectionText %></textarea>
    </label>

    <label> Question Title
      <input name="question[title]"></textarea>
    </label>

    <label> Additional Information
      <textarea name="question[body]"></textarea>
    </label>

    <button class="submit-question">Ask</button>

  </form>

</section>