


<section class="show-modal xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h1> <%= question.get("title") %> </h1>

	<p> <%= question.get("body") %> </p>

	<h3># Answers</h3>

</section>