


<section class="show-modal question xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

  <section class="post-wrapper">

    


      <div class="votes-wrapper">

      </div>

      <div class="post-body">

        <h1> <%= question.escape("title") %> </h1>

        <% if (question.escape("body")) { %>

        	  <p class="body"> <%= question.escape("body") %> </p>

        <% } %>


        <p class="add-comment"> add comment </p>


        <div class="comments-wrapper">

        </div>

      </div>

  </section>

</section>