


<section class="show-modal question xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h1> <%= question.get("title") %> </h1>

  <div class="body-wrapper">
	  <p class="body"> <%= question.get("body") %> </p>
  </div>

  <h5 class="add-comment"> add comment </h5>

  <h3># Answers</h3>





</section>