


<section class="show-modal question xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h1> <%= question.get("title") %> </h1>
  <div class="response-all">
    <div class="response-wrapper">
      <div class="body-wrapper">
    	  <p class="body"> <%= question.get("body") %> </p>
      </div>
      <p class="add-comment"> add comment </p>
    </div>

    <div class="comments-wrapper">

    </div>
  </div>

</section>