
<div class="modal fade" id="question-show-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body show-modal">
        <section class="post-wrapper">

            <div class="votes-wrapper">

            </div>

            <div class="post-body">

              <h1> <%= question.escape("title") %> </h1>

              <% if (question.escape("body")) { %>

              	  <p class="body"> <%= question.escape("body") %> </p>

              <% } %>

              <% if (question.escape("section_text")) { %>
                  <h4> Source Text </h4>
                  <p class="section-text body"> <%= question.escape("section_text") %> </p>

              <% } %>


              <p class="add-comment"> add comment </p>


              <div class="comments-wrapper">

              </div>

            </div>

        </section>
      </div>
    </div>
  </div>
</div>