<form class="basic-discussion-form">

  <textarea name="discussion[title]" placeholder=" Post Generic Discussion Topic"></textarea>

  <button class="btn-blue small" id="submit-discussion">Post</button>

</form>