<%
	if (hidden) {
		var style = "display:none";
	} else {
		var style = "";
	}
%>


<section class="discussions" style="<%= style %>">

  <% var discussionForm = new App.Views.DiscussionForm() %>
  <%= discussionForm.render().$el.html() %>
  <h3> Discussions about <%= App.CurrentState.resource.get("title") %> </h3>

  <ul class="social-list">
  
  </ul>

</section>