<%
	if (hidden) {
		var style = "display:none";
	} else {
		var style = "";
	}
%>


<section class="discussions" style="<%= style %>">

  <ul class="social-list">
  
  </ul>

  <button class="btn-blue add-btn"> Post Discussion Topic </button>

</section>