
<section class="show-modal discussion xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h1> <%= discussion.escape("title") %> </h1>

	<p> <%= discussion.escape("body") %> </p>

	<h3>Comments</h3>

</section>