
<section class="show-modal discussion xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<section class="post-wrapper">

		<div class="votes-wrapper">

		</div>

		<div class="post-body">

		<h1> <%= discussion.escape("title") %> </h1>

		<% if (discussion.escape("body")) { %>

			<div class="body-wrapper">
		    	<p class="body"><%= discussion.escape("body") %></p>
		  	</div>

	  	<% } %>
	  	
	  		<p class="add-comment"> add comment </p>

	  		<div class="comments-wrapper">

	  		</div>
	  	</div>
	  
	</section>

</section>