
<section class="show-modal discussion xlarge reveal-modal">

	<a class="close-reveal-modal">&#215</a>

	<h1> <%= discussion.escape("title") %> </h1>

	<div class="body-wrapper">
    <p class="body"><%= discussion.escape("body") %><p>
  </div>

  <h5 class="add-comment"> add comment </h5>

  <h3>Responses</h3>

</section>