@import 'style';

.social-list {
	overflow-y: auto;
}

.social-list-item {
  @extend .clickable;
  @extend .stn-transition;
  border-bottom: 3px solid $gray;
  padding: 5px;
}

.social-list-item:hover {
  background-color: $light-gray;
}

.social-list-item p {
	margin: 0;
}


p.social-title {
	padding: 5px;
	border-bottom: 2px dotted $gray;
}

.social-data {
	@extend .group;

	p, p span {
		padding: 0 3px;
	}

	p.social-vote-score-positive span {
		color: $green;
	}

	p.social-vote-score-positive span:hover{
		color: $green;
	}

	p.social-vote-score-negative span {
		color: $red;
	}

	p.social-vote-score-negative span:hover {
		color: $red;
	}

	p.social-post-count span {
		color: black;
	}

	p.question-unanswered span{
		color: $red;
	}

	p.question-unanswered span:hover {
		color: $red;
	}

}

.discussion-data {
	p {
		float: left;
		width: 50%;
		text-align: center;
		padding-top: 5px;
	}
}

.question-data {
	p {
		float: left;
		width: 33%;
		text-align: center;
		padding-top: 5px;
	}
}

.response-icon {
	font-family: rockwell;
}