
* {
	font: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  color: black;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; // this is swell :)>-<
}

h1,h2,h3,ul {
  margin:0;
}

@mixin border-radius($n) {
	-webkit-border-radius: $n;
	-moz-border-radius: $n;
	border-radius: $n;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

$purple: #9b59b6;

$yellow: #FFFF00;

$red: #eb3d35;

$green: #2ecc71;
$faded-green: lighten($green, 42%);
$faded-red: lighten($red, 36%);

$blue: #4aa3df;
$dark-blue: darken($blue, 5%);
$light-blue: lighten($blue, 5%);
$faded-blue: lighten($blue, 36%);

$almost-white: darken(white, 5%);
$almost-black: lighten(black, 40%);

$gray: #bdc3c7;
$dark-gray: darken($gray, 5%);
$darker-gray: darken($gray, 10%);
$darkest-gray: darken($gray, 25%);
$light-gray: lighten($gray, 5%);
$lighter-gray: lighten($gray, 10%);
$lightest-gray: lighten($gray, 15%);

$stn-back-color: $lightest-gray;

$stn-border-color: $gray;
$stn-border-width: 1px;
$stn-border: $stn-border-width solid $stn-border-color;

$stn-margin: 0px;
$stn-padding: 5px;

$stn-font: 14px;
$big-font: 18px;
$huge-font: 22px;

$top-height: 50px;

.stn-border {
  @include border-radius(2px);
  border: $stn-border;
}

.stn-transition { transition: all .4s; }

body {
  font-family: sans-serif;
  background-color: $lighter-gray;
}

.clickable:hover { cursor: pointer; }

.group:after { 
  content: "";
  display: block;
  clear: both;
}

.btn {
	@extend .clickable;
  @extend .stn-transition;
  border: 1px solid transparent;
	color: white;
	padding: 5px 15px;
	font-weight: bold;
  display: block;
}

.add-btn {
  width: 100%;
}

.btn-blue {
  @extend .btn;
  background-color: $blue;
}

.btn-blue:hover {
  background-color: darken($blue, 12%);
}

.btn-red {
  @extend .btn;
  background-color: $red;
}

.btn-red:hover {
  background-color: darken($red, 18%);
}

.btn-yellow {
  @extend .btn;
  color: black;
  background-color: $yellow;
}

.btn-yellow:hover {
  background-color: darken($yellow, 4%);
}

.btn-green {
  @extend .btn;
  background-color: $green;
}

.btn-green:hover {
  background-color: darken($green, 10%);
}

.btn-purple {
  @extend .btn;
  background-color: $purple;
}

.btn-purple:hover {
  background-color: darken($purple, 10%);
}

.btn-gray {
  @extend .btn;
  color: black;
  background-color: $gray;
}

.btn-gray:hover {
  background-color: darken($gray, 10%);
}

$small-height: 30px;
.small {
  padding: 0 10px;
  height: $small-height;
  line-height: $small-height;
  font-size: .8em;
}

.box {
  @extend .stn-border;
  @include box-shadow(0,0,2px, $gray);
	margin: $stn-margin;
	background-color: $stn-back-color;
}

.form-wrapper {
  display: inline-block;
  width: 22%;
  float: left;
  margin: 20px 10% 0 0;

  p {
    text-align: center;
  }
}

.landing-page {
  .landing-info {
    float:left;
    margin-left: 10%;
    width: 58%;

    button {
      @extend .stn-transition;
      height: 40px;
      width: 250px;
      border: 1px solid transparent;
      @include border-radius(2px);
    }
    button:hover {
      @include border-radius(0px);
    }

    h1 {
      font-size: 25px;
      margin: 20px 0;
    }

    h3 {
      font-size: 20px;
      margin: 20px 0;
    }
  }
}

.form-box {
	@extend .box;

  padding: 20px;
  

  input {
    @extend .stn-transition;
    @include border-radius(2px);
    border: 1px solid transparent;
    display: block;
    padding: 7px;
    margin:  10px auto;
    height: 40px;
    width: 100%;
  }

  input:hover {
    border: $stn-border;
  }

  input:focus {
    outline: 0;
    @include box-shadow(0,0,5px, $darkest-gray);
  }

	input[type=submit] {
    @extend .btn-blue;
    height: 40px;
  }

	input.error {
		border: 3px solid $red;
	}

	@include placeholder {
	    font-weight:100;
	    text-align: center;
	    color: $dark-gray;
	}

	.form-title {
		margin-bottom: 12px;
		text-align: center;
		font-size: 1.4em;
	}
}

label {
  @extend .clickable;
  display: block;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

input[type=text] {
  width: 100%;
  padding: 2%;
  font-size: 14px;
  line-height: normal;
  margin-top: 0;
}

.input-green {
  border: 1px solid $green;
}

.input-green:focus {
  outline: 0;
  @include box-shadow(0,0,5px, $green);
}

.input-blue {
  border: 1px solid $blue;
}

.input-blue:focus {
  outline: 0;
  @include box-shadow(0,0,5px, $blue);
}

.input-gray {
  border: 1px solid $gray;
}

.input-gray:focus {
  outline: 0;
  @include box-shadow(0,0,5px, $gray);
}

input[type=submit] {
	@extend .clickable;
	background-color: inherit;
}

textarea {
  border: 1px solid transparent;
  width: 100%;
  padding: 2%;
  margin-top: 0;
  font-size: .9em;
  font-weight: normal;
}

.textarea-green {
  border: 1px solid $green;
}

.textarea-green:focus {
  outline: 0;
  border: 1px solid $green;
  @include box-shadow(0,0,15px, $green);
}

.textarea-blue {
  border: 1px solid $blue;
}

.textarea-blue:focus {
  outline: 0;
  border: 1px solid $blue;
  @include box-shadow(0,0,15px, $blue);
}

.textarea-gray {
  border: 1px solid $gray;
}

.textarea-gray:focus {
  outline: 0;
  border: 1px solid $gray;
  @include box-shadow(0,0,15px, $gray);
}

input[type=checkbox] {
  @extend .clickable;
  -webkit-appearance: none;
  outline: none;
	background-color: $faded-blue;
	width: 23px !important;
  height: 23px !important;
  float: left;
  margin-right: 5px;
  position: relative;
  border: 1px solid white;
  border: 1px solid $blue;
}

input[type=checkbox]:checked:after {
	content: ' \2714';
	font-size: 14px;
	color: black;
  position: absolute;
  top: 2px;
  left: 5px;
}



.selected-table-of-contents-btn {
  background: white;
}

#resource-content {
  float: left;
  @extend .group;
}

span.minimize {
  position: absolute;
  top: -3px;
  right: 5px;
  @extend .stn-transition;
  font-size: $big-font;
  color: white;
}

span.minimize:hover {
  color: black;
}

.show {
  @extend .clickable;
  @extend .stn-transition;
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: $huge-font;
  color: white;
}

.show:hover {
  color: black;
}

#show-table-of-contents {
  top: 0;
  left: 0px;
}

#show-social {
  top: -1px;
  right: 0px;
  height: 33px;
  padding-top: 5px;
}

#content {
  @extend .group;
  height: 100%;
  //width: 1300px;
  overflow-y: hidden;
  transition: all .4s;
}

.resource-wrapper {
  @extend .group;
  float: left;
  position: relative;
}

.resource {
  font-size: 14px;
  line-height: 30px;
  @extend .group;
  width: 800px;
  height: 100%;
  overflow-y: scroll;
  background: white;
  border-right: 3px solid $gray;

  .title-page {

    margin-bottom: 100px;

    h2, h3, p {
      text-align: center;
      padding: 10px 40px;
    }

    h1 {
      height: $top-height;
      line-height: $top-height;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 4px;
      border-bottom: 3px solid $gray;
      //position: fixed;
    }

    h2 {
      margin: 60px 0;
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
}

.section {
  padding: 0 40px;
  margin-bottom: 40px;

  h3 {
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
    text-indent: 20px;

    div.popover {
      text-indent: 0;
    }
  }
}

.resource-footer {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid $gray;
  padding: 10px;
}

#social-content {
  @extend .stn-transition;
  float: left;
  width: 280px;
  overflow: hidden;
  position: relative;

  h1 {
    font-size: 1.2em;
    padding: 5px;
  }

  h3 {
    font-size: 1.1em;
    padding: 5px;
    border-top: 1px solid $gray;
  }

  form {
    @extend .group;
    position: relative;

    textarea {
      width: 100%;
      padding: 4%;
      min-height: 100px;
      float: left;
    }



  	@include placeholder {
  	    font-weight:100;
  	    color: $dark-gray;
  	}

    button {
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
  }
}
.basic-question-form {
  textarea:focus {
    @extend .textarea-green;
    border-width: 2px;
    @include border-radius(2px);
  }
}

.edit-note-form { // is this really neccessary???
  h1 {
    font-size: 1.5em;
    border-bottom: $stn-border;
    margin-top: 0;
  }

  label {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
  }

  textarea {
    display: block;
    background-color: $faded-blue;
    width: 100%;
    min-height: 100px;
    font-size: .9em;
    font-weight: normal;
  }

  button {
    @extend .btn;
    margin-top: 10px;
    display: block;
    clear: both;
  }
}

.modal-form {

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  textarea {
    min-height: 130px;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
  }

  input {
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
  }
}

.comment-form {

  @extend .gray-form;

  label {
    margin-bottom: 0;
  }

  input {  // these styles are hard tied to comment form for now, fix later but just note for now
    font-size: 14px;
    border-bottom: 1px solid $gray;
    height: 30px;
    font-weight: normal;
    line-height: normal;
    border-top: none;
    padding-left: 19px;
    transition: .7s;
  }

  input:focus {
    border-top: none;
  }

  input.become-comment {
    border: 1px solid transparent;
    border-bottom: 1px solid $gray;
    border-top: none;
  }
  input.become-comment:focus {
    border: 1px solid transparent;
    border-bottom: 1px solid $gray;
    border-top: none;
    box-shadow: none;
  }
}

.check-label {
  float: left;
  margin: 10px 0px;
  line-height: 10px;
}

.green-form {

  h1 {
    border-bottom: 1px solid $green;
  }

  button {
    @extend .btn-green;
  }

  input {
    @extend .input-green;
  }

  textarea {
    @extend .textarea-green;
  }
}

.blue-form {

  h1 {
    border-bottom: 1px solid $blue;
  }

  button {
    @extend .btn-blue;
  }

  input {
    @extend .input-blue;
  }

  textarea {
    @extend .textarea-blue;
  }

}

.gray-form {

  h1 {
    border-bottom: 1px solid $gray;
  }

  button {
    @extend .btn-gray;
  }

  input {
    @extend .input-gray;
  }

  textarea {
    @extend .textarea-gray;
  }

}

.note-modal-form {
  @extend .modal-form;
  @extend .blue-form;
}

.discussion-modal-form {
  @extend .modal-form;
  @extend .blue-form;
}

.question-modal-form {
  @extend .modal-form;
  @extend .green-form;
}

::selection {
	background: $lighter-gray;
}
::-moz-selection {
	background: $lighter-gray;
}

.highlighted {
  background: $yellow;
}

.marked-as-error {
  background: $red;
}

.marked-as-confusing {
  background: lighten(#8e44ad, 30%);
}

// POP OVER STYLES

.popover {
  border-radius: 2px;
  background: $lighter-gray;
  max-width: 306px;
  min-width: 306px;
}

.popover.bottom .arrow:after {
  border-bottom-color: $lighter-gray;
}

.popover.top .arrow:after {
  border-top-color: $lighter-gray;
}

.popover-content {

  margin: 0;
  padding: 5px;

  ul.popover-buttons {
    @extend .group;

    li {
      float: left;
      margin:3px;
      max-width: 140px;

      button {
        outline: none;
        font-size: 12px;
        min-width: 140px;
        padding: 4px 4px;
      }
    }
  }
}

.glyphicon {
  @extend .clickable;
}

.overlay {
  @extend .stn-transition;
  background-color: $gray;
  z-index: 3;
}














