

@import 'style';

#home-page {
  text-align: center;
  height: 100%;
  h1 {
    margin: 20px 0;
  }
  img {
    @extend .clickable;
    margin-bottom: 20px;
  }
  img:hover {
    @include box-shadow(0, 0, 15px, black);
  }
  img:active {
    box-shadow: none;
  }
}

#landing-page {

    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    overflow-y: auto;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        color: #333;
    }

    h1 {
      font-size: 40px;
    }

    h3 {
      color: #95a5a6;
      font-weight: 400;
    }

    h4 {
      color: #95a5a6;
      font-weight: 400;
      font-size: 20px;
    }

    p {
      line-height: 28px;
      margin-bottom: 25px;
      font-size: 16px;
    }

    .spaced {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    #demo-btn {
      margin-left:auto;
      margin-right: auto;
      width: 300px;
      @include border-radius(2px);
      height: 40px;
    }

    .form-wrapper {
        background:$lighter-gray;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

      p {
        text-align: center;
        margin: 0;
      }
    }
    .form-box {
      @extend .box;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      background:$lightest-gray;

      
      text-align: center;
      padding: 20px;
        

      input {
        @extend .stn-transition;
        @include border-radius(2px);
        border: 1px solid transparent;
        display: block;
        padding: 7px;
        margin:  10px auto;
        height: 40px;
        width: 100%;
        font-size: 16px;
      }

      input:hover {
        border: $stn-border;
      }

      input:focus {
        outline: 0;
        @include box-shadow(0,0,5px, $darkest-gray);
      }

      input[type=submit] {
        @extend .btn-blue;
        height: 40px;
      }

      input.error {
        border: 3px solid $red;
      }

      @include placeholder {
          font-weight:100;
          text-align: center;
          color: $dark-gray;
      }

      .form-title {
        margin-bottom: 12px;
        text-align: center;
        font-size: 1.4em;
      }
    }
}