

@import 'style';


#left-nav {
	float: left;
	height: 100%;
	width: 200px;
	position: relative;
	@extend .stn-transition;
}

.logo-box {
	position: relative;
	background-color: $gray;

	h1 {
		font-size: $huge-font;
		padding-left: 10px;
		height: $top-height;
		line-height: $top-height;
	}
	
}

#site-nav {
	@extend .group;

	ul {

		$site-btn-height: 50px;
		li {
			@extend .clickable;
			@extend .stn-transition;
			width: 100px;
			height: $site-btn-height;
			line-height: $site-btn-height;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			float: left;

			span {
				@extend .stn-transition;
				color: white;
				font-size: $big-font;
			}
		}

		li:hover {
			background-color: white;
		}

		li:hover span {
			color: black;
		}
	}
}

#table-of-contents {

	.selected-tbl-contents-link {
	  background: white;
	}

	h3 {
		padding: 10px;
		font-size: $big-font;
		background-color: $gray;
	}

	ul {

		overflow-y: auto;

        li {
      		@extend .clickable;
      		@extend .stn-transition;
      		padding: 5px 15px;
      		font-size: $stn-font;
    	}

    	li.current-section {
    		background-color: white;
    	}

	    li:hover {
	      @extend .selected-tbl-contents-link;
	    }
  }
}