

@import 'style';

.selected-social-btn {
  background-color: $lighter-gray;
}

.selected-social-btn:hover {
  text-decoration: none;
  cursor: default;
}

.social-nav {

  position: relative;
  background-color: $gray;

  ul {
    @extend .group;
  }

  li {
    float: left;
    @extend .clickable;
    @extend .stn-transition;
    font-size: $stn-font;
    padding: 0px 10px;
    height: $top-height;
    line-height: $top-height;
  }

  li:hover {
    text-decoration: underline;
  }
}