$red: #e74c3c;

$blue: lighten(#3498db, 5%);
$almost-white: darken(white, 1.5%);
$lightest-gray: #e9e9e9;
$gray: #bdc3c7;
$dark-gray: #7f8c8d;
$darkest-gray:  #3f3f3f;

* {
	font-family: "Times New Roman", "Times", "serif";
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
  color: black;
}

@mixin border-radius($n) {
	-webkit-border-radius: $n;
	-moz-border-radius: $n;
	border-radius: $n;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

html {
  background: $almost-white;
}

.clickable:hover {
	cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.btn {
	@extend .clickable;
	border: 1px solid $lightest-gray;
	background-color: $blue;
	color: white;
	padding: 10px;
	font-weight: bold;
  @include border-radius(4px);
	transition: all .4s;
}

.btn:hover {
	border: 1px solid $dark-gray;
  background-color: darken($blue, 5%);
}
$small-height: 30px;
.small {
  padding: 0 10px;
  height: $small-height;
  line-height: $small-height;
  font-size: .8em;
}

.box {
	margin: 5px;
	border: 1px solid $gray;
	background-color: $lightest-gray;
	@include border-radius(4px);
	@include box-shadow(0,0,2px, $gray)
}

.form {
	@extend .box;
	width: 300px;

  textarea {
    min-width: 100%;
    min-height: 60px;
  }

	input {
		display: block;
		border: 1px solid $lightest-gray;
		@include border-radius(4px);
		padding: 7px;
		margin:  10px auto;
		width: 90%;

		transition: border .3s;
	}

	input:hover {
		border: 1px solid $gray;
	}

	input[type=submit] {
		width: 50%;
		margin-top: 12px;
		@extend .btn;
	}

	input:focus {
	    outline: 0;
	    @include box-shadow(0,0,5px, $darkest-gray);
	}

	input.error {
		border: 3px solid $red;
	}

	@include placeholder {
	    font-weight:100;
	    text-align: center;
	    color: $dark-gray;
	}

	.form-title {
		margin-bottom: 12px;
		text-align: center;
		font-size: 1.4em;
	}
}

input[type=submit] {
	@extend .clickable;

	background-color: inherit;
}

textarea {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

textarea:focus {
  outline: 0;
  @include box-shadow(0,0,5px, $darkest-gray);
}

textarea:hover {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

$top-nav-height: 18px;
.top-nav {
	@extend .box;
  @extend .group;
	padding: 0;
  background-color: $lightest-gray;
  background: -webkit-linear-gradient(lighten($lightest-gray, 5%), darken($lightest-gray, 8%));

  ul {
    float: right;
  }

	li {
		@extend .clickable;
    float: left;
    height: $top-nav-height;
		line-height: $top-nav-height;
		display: inline-block;
		padding: 5px 10px;
    border-left: 1px solid $gray;
    transition: background .4s;
    color: black;
	}
	li:hover {
		background: darken($lightest-gray, 5%);
	}
}
.logo {
  padding: 4px 10px;
  float: left;
  font-size: 1.4em;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-style: italic;
	font-weight: bolder;
  border: none !important;
  height: $top-nav-height;
  line-height: $top-nav-height;
}

.right {
	float: right;
}

.left {
	float: left;
}

#content {
	margin: 5px 30px;
  height: 100%;
  width: 1430px;
  @extend .group;
}

.table-of-contents {
  float: left;
  width: 200px;
  text-align: center;
  margin: 5px;

  ul {
    @extend .box;
    padding: 0;
  }

  li {
    text-align: left;
    @extend .clickable;
    padding: 3px 5px;
    border-bottom: 1px solid $gray;
    transition: .4s;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: darken($lightest-gray, 5%);
  }

}

.resource {
  float: left;
  width: 800px;
  margin: 5px;
  border: none;
  height: 900px;
  overflow-y: scroll;
  @include box-shadow(0,6px,15px, $darkest-gray);
  background: white;
  @extend .group;

  .title-page {

    margin-bottom: 100px;

    h1, h2, h3, p {
      text-align: center;
      padding: 10px 0;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 4px;
      border-bottom: 1px solid $gray;
    }

    h2 {
      margin: 30px 0;
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.2em;
      font-weight: bolder;
    }
  }
}

.section {

  padding: 0 20px;

  h3 {
    font-size:25px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 150%;
  }
}

.resource-footer {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid $gray;
  padding: 10px;
}

#social-content {
  float: left;
  @extend .box;
  width: 300px;
  margin: 5px 10px;

  h1 {
    font-size: 1.2em;
    padding: 5px;
  }

  h3 {
    font-size: 1.1em;
    padding: 5px;
    border-top: 1px solid $gray;
  }

  form {
    position: relative;
    @extend .group;

    h1 {
      text-align: center;
    }

    textarea {
      width: 96%;
      padding: 2%;
      min-height: 100px;
      float: left;
    }

  	@include placeholder {
  	    font-weight:100;
  	    color: $dark-gray;
  	}

    button {
      position: absolute;
      bottom: -2px;
      right: -2px;
      display: block;
      float: right;
    }
  }
}

.form {
  width: 400px;
}

.notes, .questions {

  ul {
    li {
      border-bottom: 1px solid $gray;
    }
    li:first-child {
      border-top: 1px solid $gray;
    }
    li:last-child {
      border-bottom: none;
    }
  }

  .note {
    padding: 5px;
    border-bottom: 1px solid $gray;
  }

}

.social-nav {
  background-color: $lightest-gray;
  background: -webkit-linear-gradient(lighten($lightest-gray, 5%), darken($lightest-gray, 10%));
  @extend .group;
  ul {
    @extend .group;
    width: 100%;
    border-bottom: 1px solid $gray;
  }
  li {
    @extend .clickable;
    float: left;
    padding: 5px;
    transition: all .4s;
    border-right: 1px solid $gray;
  }
	li:hover {
		background: darken($lightest-gray, 5%);
	}
  li.hide {
    background-color: darken($lightest-gray, 5%);
    background: -webkit-linear-gradient(lighten($lightest-gray, 5%), darken($lightest-gray, 10%));
    color: $dark-gray;
    margin: -7px;
    font-size: 20px;
    padding: 0 5px 2px 7px;
    border-radius: 15px;
    border-right: none;
    float: right;
    transition: all .4s;
  }
  li.hide:hover {
    background-color: darken($lightest-gray, 10%);
    color: black;
  }
}











