$red: #e74c3c;

$blue: #3498db;
$almost-white: darken(white, 1.5%);
$lightest-gray: #e9e9e9;
$gray: #bdc3c7;
$dark-gray: #7f8c8d;
$darkest-gray:  #3f3f3f;

* {
	font-family: "Times New Roman", "Times", "serif";
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
  color: black;
}

@mixin border-radius($n) {
	-webkit-border-radius: $n;
	-moz-border-radius: $n;
	border-radius: $n;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

html {
  background: $almost-white;
}

.clickable:hover {
	cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.btn {
	@extend .clickable;
	border: 1px solid $lightest-gray;
	background-color: $blue;
	color: white;
	padding: 10px;
	font-weight: bold;

	transition: border .7s;
}

.btn:hover {
	border: 1px solid $darkest-gray;
}

.box {
	padding: 5px;
	margin: 5px;
	border: 1px solid $gray;
	background-color: $lightest-gray;
	@include border-radius(4px);
	@include box-shadow(0,0,2px, $gray)
}

.form {
	@extend .box;
	width: 300px;

	input {
		display: block;
		border: 1px solid $lightest-gray;
		@include border-radius(4px);
		padding: 7px;
		margin:  10px auto;
		width: 90%;

		transition: border .3s;
	}

	input:hover {
		border: 1px solid $gray;
	}

	input[type=submit] {
		width: 50%;
		margin-top: 12px;
		@extend .btn;
	}

	input:focus {
	    outline: 0;
	    @include box-shadow(0,0,5px, $darkest-gray);
	}

	input.error {
		border: 3px solid $red;
	}

	@include placeholder {
	    font-weight:100;
	    text-align: center;
	    color: $dark-gray;
	}

	.form-title {
		margin-bottom: 12px;
		text-align: center;
		font-size: 1.4em;
	}
}

input[type=submit] {
	@extend .clickable;

	background-color: inherit;
}

$top-nav-height: 15px;
.top-nav {
	@extend .box;
  @extend .group;
	padding: 0;

  ul {
    float: right;
  }

	li {
		@extend .clickable;
    float: left;
    height: $top-nav-height;
		line-height: $top-nav-height;
		display: inline-block;
		padding: 5px 10px;
    border-left: 1px solid $gray;
    @include border-radius(4px);
    transition: background .4s;
    color: black;
	}
	li:hover {
		background: darken($lightest-gray, 5%);
	}
}
.logo {
  padding: 3px 10px;
  float: left;
  font-size: 1.4em;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	font-style: italic;
	font-weight: bolder;
  border: none !important;
  height: $top-nav-height;
  line-height: $top-nav-height;
}

.right {
	float: right;
}

.left {
	float: left;
}

.content {
	margin: 5px 30px;
}

.table-of-contents {
  float: left;
  width: 200px;
  text-align: center;
  margin: 5px;


  ul {
    @extend .box;
    padding: 0;
  }

  li {
    text-align: left;
    @extend .clickable;
    padding: 3px 5px;
    border-bottom: 1px solid $gray;
    transition: .4s;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background: darken($lightest-gray, 5%);
  }

}

.resource {
  float: left;
  width: 600px;
  margin: 5px;
  //padding: 10px 20px;
  border: none;
  @include box-shadow(0,4px,15px, $darkest-gray);
  background: white;
  @extend .group;

  .title-page {

    margin-bottom: 100px;

    h1, h2, h3, p {
      text-align: center;
      padding: 10px 0;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 4px;
      border-bottom: 1px solid $gray;
    }

    h2 {
      margin: 30px 0;
      font-size: 1.3em;
    }

    h3 {
      font-weight: bolder;
    }
  }
}

.section {

  padding: 0 20px;

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }
}

.resource-footer {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid $gray;
  padding: 10px;
}












