



<div id="home-page">

	<h1>Free Reads!</h1>
	<div class="resource-link" data-resource-id="1">

		<img width=300 height=400 src="http://www.nostarch.com/sites/default/files/imagecache/product_full/EJS_finalcvr_front-new.png">

	</div>

</div>