<nav class='social-nav'>

  <ul>
    <li class="selected" id="show-notes">Notes</li>
    <li id="show-questions">Questions</li>
    <li id="show-discussions">Discussions</li>
    <li class="hide" id="hide-social">&#10006</li>
  </ul>

</nav>