<nav class='social-nav'>

  <ul>
    <li class="selected-social-btn" id="show-notes">Notes</li>
    <li id="show-questions">Questions</li>
    <li id="show-discussions">Discussions</li>
    
  </ul>

  <span class="glyphicon glyphicon-minus minimize" id="hide-social"></span>

</nav>