<nav class='social-nav'>

  <ul>
    <li id="show-notes">Notes</li>
    <li id="show-questions">Questions</li>
    <li id="show-discussions">Discussions</li>
    <li class="hide">x</li>
  </ul>

</nav>